@font-face {
    font-family: "Poppins Medium";
    src: url("../assets/fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
    font-family: "Poppins Semibold";
    src: url("../assets/fonts/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: "Poppins Bold";
    src: url("../assets/fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
    font-family: "Poppins Regular";
    src: url("../assets/fonts/Poppins/Poppins-Regular.ttf");
}

section{
    display: flex;
    flex-direction: row;

    background: #F4F3F9 0% 0% no-repeat padding-box;
}

#lists-container{
    padding: 10px;
    width: 60vw;
}

#lists-container-header{
    display: flex;
    justify-content: space-between;
}

.select{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    font-family: "Poppins Regular", sans-serif;
    font-size: 32px;
    color: #CAC9CE;
    border-radius: 15px;
    text-indent:3px;
    text-align: center;
}

#list-body{
    border-radius: 30px 0px 0px 30px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}

#list-info>p{
    background: #F6F6F6 0% 0% no-repeat padding-box;
    color: #7B7B7B;
    font-size: 20px;
    text-align: center;
    font-family: "Poppins Regular", sans-serif;
    border-radius: 30px 0px 0px 30px;
}

