@font-face {
    font-family: "Poppins Medium";
    src: url("../assets/fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
    font-family: "Poppins Semibold";
    src: url("../assets/fonts/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: "Poppins Bold";
    src: url("../assets/fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
    font-family: "Poppins Regular";
    src: url("../assets/fonts/Poppins/Poppins-Regular.ttf");
}

section{
    display: flex;
    flex-direction: row;

    background: #F4F3F9 0% 0% no-repeat padding-box;
}

#lists-container{
    padding: 10px;
    width: 60vw;
}

#lists-container-header{
    display: flex;
    justify-content: space-between;
}

.select{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    font-family: "Poppins Regular", sans-serif;
    font-size: 32px;
    color: #CAC9CE;
    border: none;
    border: solid 1px;
    border-radius: 15px;
    text-indent:3px;
    text-align: center;
}

#list-body{
    border-radius: 30px 0px 0px 30px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}

.list-info>p{
    background: #F6F6F6 0% 0% no-repeat padding-box;
    color: #7B7B7B;
    font-size: 20px;
    text-align: center;
    font-family: "Poppins Regular", sans-serif;
    border-radius: 0 0 30px 30px;
    margin: 0 auto auto;
    width: 95%;
}

input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
}

#add-product-to-list-form{
    display: none;
    position: fixed;
    z-index: 10;
    width: calc(85vw - 10px);
    height: 100vh;
    background-color: #7B7B7B;
    /*opacity: 0.5;*/
}

#add-product{
    z-index: 11;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#add-product > *, #add-list > *{
    width: 100px;
    margin: 5px;
    border-radius: 10px;
    padding: 5px;
}

#add-product > h2{
    width: 30rem;
    text-align: center;
}

#list-body{
    overflow-y: scroll;
    height: 78vh;
}

#disable-add-product, #disable-add-list {
    color: #ff253e;
    border: none;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    font-size: 64px;
    font-family: "Poppins Bold", sans-serif;
    background-color: #CAC9CE;
    align-self: end;
    cursor: pointer;
}

#add-form-list-id{
    display: none;
}

.list-info{
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.title-list-btn{
    border: none;
    border-radius: 60px 60px 0 0;
    width: 95%;
    margin: auto;
    color: #7B7B7B;
    font-family: "Poppins Bold", sans-serif;
    font-size: 32px;
}

.product{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
    margin-right: 10px;
}

.product > *, .more-content> p{
    margin: 1px;
}

.product:nth-child(even){
    background-color: #FFFFFF;
    border-radius: 10px;
}

.product-name{
    text-align: left;
    font: normal normal 600 20px/30px Poppins;
    letter-spacing: 0;
    color: #404040;
}

.product >p, .more-content > p{
    text-align: left;
    font: normal normal normal 16px/25px Poppins;
    letter-spacing: 0;
    color: #404040;
}

.price{
    text-align: left;
    font: normal normal normal 16px/25px Poppins;
    letter-spacing: 0;
    color: #F31259;
}


.list-content{
    background: #F6F6F6 0% 0% no-repeat padding-box;
    border-radius: 0 0 30px 30px;
    margin: auto;
}

.list-info > *{
    width: 95% !important;
}

.more{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 30px;
    background-color: #F4F3F9;
    font-family:  "Poppins Regular", sans-serif;
    font-size: 20px;
    color: #7B7B7B;
    width: auto;
    align-self: center;
}

.more > img{
    margin-left: 5px;
}

.option-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.option-buttons > button{
    border: none;
    background-color: transparent;
}

#select-filter{
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid #CAC9CE;
    border-radius: 30px 0 30px 30px;
}

#select-filter > button{
    border: none;
    background-color: #FFFFFF;
    font-family:  "Poppins Regular", sans-serif;
    font-size: 20px;
    text-align: end;
}

#select-filter > button:nth-child(even){
    background-color: #E9E9E9 ;
}

#select-filter > button:first-child{
    border-radius: 30px 0 0 0;
}

#select-filter > button:last-child{
    border-radius: 0 0 30px 30px;
}

#list-filter{
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    right: 5vw;
}

#show-add-list{
    position: absolute;
    left: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}


.modify-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.edit-list, .remove-list, .add-product-to-list{
    background: 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 12px;
}

.remove-list{
    background-color: #FF0A57;
}

.edit-list{
    background-color: #0BD1B8;
}

.add-product-to-list{
    border: none !important;
}

.modify-list > button > img{
    margin: auto;
}

.share-list{
    border: none;
    background-color: transparent;
}

.label{
    font-family: "Poppins Medium", sans-serif;
    font-size: 20px;
    color: #FFFFFF;
}

.modify-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.edit-list, .remove-list{
    height: 49px;
    width: auto;
}

.labels{
    font: normal normal 600 20px Poppins;
    letter-spacing: 0px;
    width: min-content;
    margin-right: 5px;
    text-align: center;
}

.label-bought, .label-less{
    color: #0BD1B8;
}

.label-remove{

    color: #FF0A57;
}

.option-buttons > button{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#add-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#add-list > *{
    width: calc(40vw - 181px);
    text-align: left;
    font: normal normal normal 32px/48px Poppins;
    letter-spacing: 0px;
    color: #404040;
    border: none;
    background-color: transparent;
    border-bottom: solid 1px #707070;
    border-radius: 0;
    box-sizing: border-box;
}

#title-input::placeholder, input#category-input::placeholder, #list-priority  {
    color: #CAC9CE;
}

#title-input, #categories-input {
    color: #404040;
}

#add-list > h2{
    width: auto;
    text-align: left;
    font: normal normal medium 30px/46px Poppins;
    letter-spacing: 0px;
    color: #404040;
    border: none;
}

#disable-add-list{
    width: 100px;
    height: 100px;
    text-align: center;
    color: #ff253e;
    font-size: 64px;
    font-family: "Poppins Bold", sans-serif;
}

#submit-add-list{
    border: none;
    text-align: center;
    font: normal normal 600 20px/30px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    background-color: #0BD1B8;
    border-radius: 10px;
    margin-top: 30px;
    width: 200px;
    align-self: flex-start;
}

/* Tablet view */

@media (max-width: 1050px){
    .modify-list > button{
        width: 75px;
        height: 75px;
    }

    #add-list > * {
        width: 90vw;
    }

    #show-add-list{
        position: initial;
    }

    #lists-container{
        width: 100%;
    }

    #list-filter{
        right: initial;
        left: 140px;
        width: 55px;
    }

    #show-more-filter{
        background-color: #F31259;
        width: 52px;
        height: 40px;
        border: none;
        border-radius: 26px 26px 0px 0px;
    }

    #more-filter-icon{
        margin-top: 5px;
        transform: rotate(180deg);
    }

    #create-list{
        display: none;
        position: fixed;
        z-index: 10;
        height: 87vh;
        width: calc(100vw - 61px);
        background-color: #F4F3F9;
    }

    #disable-add-list{
        width: 100px;
        height: 100px;
        text-align: center;
        color: #ff253e;
        font-size: 64px;
        font-family: "Poppins Bold", sans-serif;
    }

    .more{
        width: 97%;
    }

}

/*Mobile View*/
@media (max-width: 700px) {
    #create-list{
      display: none;
    }

    #lists-container{
        width: 100vw;
    }

    #lists-container-header{
        justify-content: center;
    }

    #show-more-filter{
        margin-left: 10vw;
        background-color: #F31259;
        width: 52px;
        height: 40px;
        border: none;
        border-radius: 26px 26px 0px 0px;
    }

    #show-more-filter > img{
        margin-top: 5px;
        transform: rotate(180deg);
    }

    .modify-list{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .edit-list, .remove-list, .add-product-to-list{
        background: 0% 0% no-repeat padding-box;
        border: 1px solid #707070;
        border-radius: 12px;
    }

    .remove-list{
        background-color: #FF0A57;
    }

    .edit-list{
        background-color: #0BD1B8;
    }

    .add-product-to-list{
        border: none !important;
    }

    .modify-list > button > img{
        margin: auto;
    }

    .share-list{
        border: none;
        background-color: transparent;
    }

    #add-product{
        width: 100vw;
    }

    #create-list{
        height: 100vh;
        width: 100vw;
    }

    #add-list{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #add-list > *{
        width: 90vw;
        text-align: left;
        font: normal normal normal 32px/48px Poppins;
        letter-spacing: 0px;
        color: #CAC9CE;
    }

    #add-list > h2{
        width: auto;
        text-align: left;
        font: normal normal medium 30px/46px Poppins;
        letter-spacing: 0px;
        color: #404040;
    }

    #disable-add-list{
        width: 100px;
        height: 100px;
        text-align: center;
        color: #ff253e;
        font-size: 64px;
        font-family: "Poppins Bold", sans-serif;
    }

    #submit-add-list{
        border: none;
        text-align: center;
        font: normal normal 600 20px/30px Poppins;
        letter-spacing: 0px;
        color: #FFFFFF;
        background-color: #0BD1B8;
    }

    #list-filter{
        right: 5px;
        left: initial;
    }
}

