body{
    margin: 0;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-bottom: solid rgba(64, 64, 64, 0.49) 1px;
}

#search-bar img{
    opacity: 1;
    margin: 6px 12px;
}

#search-bar{
    display: flex;
    align-items: center;
    height: 60%;
    align-self: center;
    border: 1px solid #707070;
    border-radius: 22px;
    opacity: 0.5;
}

#search-bar input{
    font-family: Poppins, sans-serif;
    border:none;
    border-radius: 22px;
    font-size: 32px;
}

#name, #log-out{
    display: flex;
    align-items: center;
}

#name a, #log-out a{
    color: #404040;
    font-family: Poppins, sans-serif;
    font-size: 32px;
    text-decoration: none;
    display: flex;
}

#name a img, #log-out a img{
    align-self:center;
    margin-left: 10px
}

#log-out{
    margin-right: 5vw;
}

#main-part{
    display: block;
    /*justify-content: center;*/
}

nav{
    float: left;
    width: 15vw;
    height: 100vh;
    padding-top: 40px;
    padding-left: 10px;
    border-right: solid rgba(64, 64, 64, 0.49) 1px;
    background: #FFFFFF;
}

nav a{
    color: #0BD1B8;
    font-family: Poppins, sans-serif;
    font-size: 32px;
    text-decoration: none;
    display: flex;
}

nav img{
    align-self:center;
    margin-right: 15px
}
