<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lists</title>
</head>
<body>
    <header>
        <a href="/dashboard"><img src="public/assets/logo-full-portal.svg" alt="logo"></a>
        <div id="search-bar">
            <img src="public/assets/search-icon.svg" alt="Search icon">
            <input placeholder="Type here for search">
            <div id="name">
                <a href="/account">Jan Przykładowy<img src="public/assets/account-icon.svg" alt="account icon"></a>
            </div>
            <div id="log-out">
                <a href="/index">Log out<img src="public/assets/log-out-icon.svg" alt="logout icon"></a>
            </div>
        </div>
    </header>

    <aside id="left-menu">
        <a href="/lists"><img src="public/assets/lists-select.svg">Lists</a>
    </aside>
</body>
</html>