<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lists</title>
</head>
<body>
    <header>
        <a href="/dashboard"><img src="public/assets/logo-full-portal.svg" alt="logo"></a>
        <div id="search-bar">
            <img src="public/assets/search-icon.svg" alt="Search icon">
            <input placeholder="Type here for search">
            <div id="name">
                <a href="/account">Jan Przykładowy<img src="public/assets/account-icon.svg" alt="account icon"></a>
            </div>
            <div id="log-out">
                <a href="/index">Log out<img src="public/assets/log-out-icon.svg" alt="logout icon"></a>
            </div>
        </div>
    </header>

    <nav id="left-menu">
        <a href="/lists"><img src="public/assets/lists-select.svg">Lists</a>
    </nav>

    <section>
        <div id="lists-container">
            <div id="lists-container-header">
                <select name="lists" class="select">
                    <option value="spożywcze">Lists:</option>
                    <option value="spożywcze">Spożywcze</option>
                    <option value="chemiczne">Chemiczne</option>
                </select>

                <select name="categories" class="select">
                    <option value="daily">Category:</option>
                    <option value="daily">Codzienne</option>
                    <option value="present">Prezent</option>
                </select>

                <select name="Types" class="select">
                    <option value="normal">Types:</option>
                    <option value="normal">Normal</option>
                    <option value="cyclic">Cyclic</option>
                </select>
            </div>
        </div>
    </section>
</body>
</html>