<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../css/enter-page.css">
    <title>ShopTherapy-Login</title>
</head>
<body>
    <dev class="background-component">
        <img src="../../assets/login-page/green-point.svg">
        <img src="../../assets/login-page/green-point.svg">
        <img src="../../assets/login-page/orange-x.svg">
        <img src="../../assets/login-page/orange-x.svg">
        <img src="../../assets/login-page/red-cross.svg">
        <img src="../../assets/login-page/red-cross.svg">
        <img src="../../assets/login-page/white-brackets.svg">
        <img src="../../assets/login-page/white-brackets.svg">
        <img src="../../assets/login-page/white-brackets.svg">
    </dev>
    
    <nav>
        <dev id="left-menu">
            <img src="../../assets/logo-full-login-page.svg"></img>
            <p class="menu-item">about</p>
            <p class="menu-item">blog</p>
            <p class="menu-item">FAQ</p>
        </dev>

        <dev>
            <button id="nav-sign-up">Sign up</button>
            <button id="nav-log-in">Log in</button>
        </dev>
    </nav>

    <aside>
        <h1>We’re glad to see you back!</h1>

        <p>Making a list of shopping, bilans  from month, day and of course control your money!</p>
        <p>You are just about to make a first step to orderly future.</p>
        <p>You don’t have an account?</p>

        <button id="aside-sign-up">Sign up. It'free</button>
    </aside>

    <section>
        <h1>log in</h1>
        <form>
            <dev class="input">
                <img src="../../assets/login-page/email-icon.svg" alt="email-icon">
                <input type="email" id="email-input" placeholder="Your email" required>
            </dev>
            <dev class="input">
                <img src="../../assets/login-page/password-icon.svg" alt="password icon">
                <input type="password" id="password-input" placeholder="Your password" required>
            </dev>
            <p class="forgot">forgot your password?</p>
            <button type="submit" id="Redy-button">Ready to go!</button>
        </form>
    </section>
</body>
</html>