<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../css/enter-page.css">
    <title>ShopTherapy-Login</title>
</head>
<body>
    <dev class="background-component">
        <img src="../../assets/login-page/green-point.svg">
        <img src="../../assets/login-page/green-point.svg">
        <img src="../../assets/login-page/orange-x.svg">
        <img src="../../assets/login-page/orange-x.svg">
        <img src="../../assets/login-page/red-cross.svg">
        <img src="../../assets/login-page/red-cross.svg">
        <img src="../../assets/login-page/white-brackets.svg">
        <img src="../../assets/login-page/white-brackets.svg">
        <img src="../../assets/login-page/white-brackets.svg">
    </dev>
    
    <nav>
        <dev id="left-menu">
            <img src="../../assets/logo-full-login-page.svg"></img>
            <p class="menu-item">about</p>
            <p class="menu-item">blog</p>
            <p class="menu-item">FAQ</p>
        </dev>

        <dev>
            <button id="nav-sign-up">Sign up</button>
            <button id="nav-log-in">Log in</button>
        </dev>
    </nav>
</body>
</html>